body {
  font-family: sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: #000000;
}

.header {
  background-color: #eeeeee;
  padding: 20px;
}

.header img {
  float: left;
  margin-right: 20px;
}

.main {
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 20px;
}

.section ul {
  margin-bottom: 10px;
}

.section li a {
  color: #000000;
  font-weight: bold;
}

.footer {
  text-align: center;
}
